@import 'https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&subset=cyrillic';

@font-face {
    font-family: 'WiGuru';
    src: url('fonts/WiGuru.ttf');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'WiGuru';
    src: local('WiGuru'),
    url('fonts/WiGuru.ttf') format('truetype');
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    height: 100%;
}

body {
    font: 300 18px/1.2 'Merriweather', serif;
    color: #ffffff;
    height: 100%;
}

.wrapper {
    display: block;
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

h2 {
    font: 400 77px/1 'WiGuru', 'Arial', sans-serif;
    color: #ffffff;
    font-variant: small-caps;
    letter-spacing: 10px;
    word-spacing: 5px;
    text-align: center;
}

h3 {
    font: 400 30px/30px 'WiGuru', 'Arial', sans-serif;
    color: #ffffff;
    font-variant: small-caps;

    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    padding: 0 5px 0 10px;
}

h6 {
    font: 400 25px/1.2 'WiGuru', 'Arial', sans-serif;
    color: #000000;
    font-variant: small-caps;
}

p {
    font: 300 25px/1.2 'Merriweather', serif;
    color: #ffffff;
    font-variant: small-caps;
    text-align: center;
}

.container-wrapper {
    min-height: 100%;
    padding-bottom: 80px;
}

@media (max-width: 768px) {

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }

    h6 {
        font-size: 22px;
    }

}

@media (max-width: 650px) {

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    h6 {
        font-size: 20px;
    }

}


/* HEADER */

header {
    position: relative;
    padding: 100px 0 90px 0;
    background-image: url('images/header-background.jpg');
    background-size: cover;
    background-position: center center;
}

header .nav-menu {
    display: block;
    text-align: right;
    font-size: 0;
    padding: 10px 0;
}

header li {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 20px;

    font: 400 22px/1.2 'WiGuru', 'Arial', sans-serif;
    color: #000000;
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 7px;
    cursor: pointer;
}

header li div {
    display: inline-block;
    padding: 2px;
    position: relative;
}

header li .top-line {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    background-color: #ff6666;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

header li:hover .top-line {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

header li .bottom-line {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff6666;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

header li:hover .bottom-line {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

header li:last-child {
    margin-right: 0;
}

header h1 {
    display: block;
    position: absolute;
    left: 0;
    top: -60px;
}

header h1 img {
    display: inline-block;
    width: 173px;
    height: 158px;
}

header h2 {
    display: block;
    margin: 10% auto 16% auto;
}

header h2 span {
    padding: 0 8px;
    border: 3px dashed #ffffff;
}

header .down-arrow {
    display: block;
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px dashed #ffffff;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 30px;
    background-image: url("pic/down-arrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

header .down-arrow:hover {
    box-shadow: 0 0 20px rgba(0,0,0,1);
}


@media (max-width: 840px) {

    header li {
        color: #ffffff;
    }

}

@media (max-width: 768px) {

    header h1 {
        position: static;
        margin-bottom: 15px;
    }

}

@media (max-width: 500px) {

    header .nav-menu {
        text-align: center;
    }

    header li {
        display: block;
        margin: 0 0 5px 0;
    }

    header h2 span {
        border: none;
    }

}

/* HEADER ENDS */

/* ADVANTAGES */

.advantages {
    position: relative;
    background-color: #875643;
    padding: 45px 0;
}

.advantages .wrapper {
    border-top: 2px solid #ffffff;
    padding: 45px 5% 0 5%;
}

.advantages h3 {
    display: block;
    position: absolute;
    background-color: #875643;
    left: 50%;
    transform: translate(-50%);
    top: -15px;
}

.advantages .icons-list {
    display: block;
    box-sizing: border-box;
    font-size: 0;
}

.advantages .icons-list li {
    display: inline-block;
    width: 28%;
    margin-right: 8%;
}

.advantages .icons-list li:last-child {
    margin-right: 0;
}

.advantages .advantages-icons {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    border: 2px dashed #ffffff;
    margin: 0 auto 30px auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 70%;
}

.advantages .icons-list li:nth-child(1) .advantages-icons {
    background-image: url("pic/advantages-01.png");
}

.advantages .icons-list li:nth-child(2) .advantages-icons {
    background-image: url("pic/advantages-02.png");
}

.advantages .icons-list li:nth-child(3) .advantages-icons {
    background-image: url("pic/advantages-03.png");
}

.advantages .icons-list p {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (max-width: 768px) {

    .advantages .icons-list p {
        font-size: 12px;
    }

}

@media (max-width: 500px) {

    .advantages .icons-list li {
        display: block;
        width: 100%;
        margin: 0 0 30px 0;
    }

    .advantages .advantages-icons {
        margin-bottom: 15px;
    }


    .advantages .icons-list p {
        font-size: 18px;
    }

}

/* ADVANTAGES ENDS */

/* SHOWROOM */

.showroom {
    position: relative;
    background-color: #fff5e4;
    padding: 45px 0 80px 0;
}

.showroom .wrapper {
    border-top: 2px solid #875643;
    padding: 45px 5% 0 5%;
}

.showroom h3 {
    display: block;
    position: absolute;
    background-color: #fff5e4;
    left: 50%;
    transform: translate(-50%);
    top: -15px;
    color: #4b2e23;
}

.showroom .swiper-container {

}

.showroom .swiper-container .swiper-slide {
}

.showroom .swiper-button-prev {
    position: absolute;
    top: 50%;
    left: 5px;
    width: 39px;
    height: 80px;
    margin-top: -17px;
    z-index: 10;
    cursor: pointer;
    opacity: 1;
    background-image: url("pic/left-arrow.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s ease-in-out;
}

.showroom .swiper-button-next {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 39px;
    height: 80px;
    margin-top: -17px;
    z-index: 10;
    cursor: pointer;
    opacity: 1;
    background-image: url("pic/right-arrow.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s ease-in-out;
}

.showroom .swiper-button-disabled {
    opacity: 0.3;
    cursor: auto;
}

.showroom .swiper-slide img {
    display: block;
    border-radius: 11px;
    width: 100%;
    max-width: 255px;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 768px) {

    .showroom .swiper-button-prev {
        display: none;
    }

    .showroom .swiper-button-next {
        display: none;
    }

}

/* SHOWROOM ENDS */

/* ABOUT US */

.aboutus {
    position: relative;
    padding: 45px 0 110px 0;
    background-image: url("images/aboutus-background.jpg");
    background-size: cover;
    background-position: center center;
}

.aboutus .wrapper {
    padding: 0 5%;
    position: relative;
}

.aboutus .h3-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    position: relative;
    margin-top: -15px;
    margin-bottom: 65px;
}

.aboutus .h3-wrapper .left-line {
    margin: auto;
    border-top: 2px solid #ffffff;
    height: 0;
    flex-basis: 100%;
}

.aboutus .h3-wrapper .right-line {
    margin: auto;
    border-top: 2px solid #ffffff;
    height: 0;
    flex-basis: 100%;
}

.aboutus .h3-wrapper h3 {
    background-color: transparent;
    color: #ffffff;
}

.aboutus p {
    text-align: center;
    color: #ffffff;
}

@media (max-width: 500px) {

    .aboutus {
        padding: 45px 0 55px 0;
    }

    .aboutus .h3-wrapper {
        margin-bottom: 35px;
    }

}

/* ABOUT US ENDS */

/* CONTACTS*/


.contacts {
    position: relative;
    background-color: #875643;
    padding: 45px 0 50px 0;
}

.contacts .wrapper {
    border-top: 2px solid #ffffff;
    padding: 25px 5% 0 5%;
}

.contacts h3 {
    display: block;
    position: absolute;
    background-color: #875643;
    left: 50%;
    transform: translate(-50%);
    top: -15px;
}

.contacts .contacts-holder {
    font-size: 0;
}

.contacts .contacts-holder h6 {
    letter-spacing: 5px;
    line-height: 1;
    text-align: left;
    color: #ffffff;
    margin-bottom: 20px;
}

.contacts .contacts-holder p {
    letter-spacing: 3px;
    font-size: 15px;
    line-height: 1;
    color: #ffffff;
    text-align: left;
    margin-bottom: 20px;
}

.contacts .contacts-text a {
    display: block;
    letter-spacing: 5px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 20px;

    font: 300 15px/1 'Merriweather', serif;
    color: #ffffff;
    height: 100%;
}

.contacts .contacts-text {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding-right: 20%;
}

.contacts .contacts-form {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.contacts-form form {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.contacts-form form input {
    display: inline-block;
    width: 48.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    box-sizing: border-box;
    height: 30px;
    padding: 0 15px;

    border-radius: 2px;
    outline: none;
    border: none;

    color: #000000;
    text-align: left;
    font: 400 15px/30px 'Merriweather', sans-serif;
}

.contacts-form form input:last-of-type {
    margin-right: 0;
}

.contacts-form form textarea {
    width: 100%;
    display: block;
    box-sizing: border-box;
    height: 250px;
    padding: 5px 15px;
    margin-bottom: 2.5%;

    border-radius: 2px;
    outline: none;
    border: none;
    resize: none;

    color: #000000;
    text-align: left;
    font: 400 15px/1.2 'Merriweather', sans-serif;
}

.contacts-form form .btn-holder {
    width: 100%;
    text-align: right;
}

.contacts-form form .btn-holder img {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: baseline;
}

.contacts-form form .btn-holder button {
    display: inline-block;
    width: 115px;
    height: 30px;
    text-align: center;
    background-color: #ff6666;
    outline: none;
    color: #ffffff;
    border-radius: 2px;
    font: 500 15px/30px 'Merriweather', sans-serif;
    vertical-align: baseline;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 1px solid #ff6666;
}

.contacts-form form .btn-holder button:hover {
    background-color: #333333;
}

.contacts-form form .btn-holder button:active {
    background-color: #333333;

}

@media (max-width: 1000px) {

    .contacts .contacts-text {
        padding-right: 5%;
    }

}

@media (max-width: 600px) {

    .contacts .contacts-text {
        display: block;
        width: 100%;
        padding-right: 0;
    }

    .contacts .contacts-text a {
        font-size: 12px;
    }

    .contacts .contacts-form {
        display: block;
        width: 100%;
    }

}

@media (max-width: 400px) {

    .contacts-form form input {
        display: block;
        width: 100%;
    }

}

/* CONTACTS ENDS */

footer {
    height: 80px;
    margin-top: -80px;
    background-color: #000000;
}

footer p {
    font-size: 25px;
    text-transform: uppercase;
    line-height: 80px;
    color: #333333;
}
